/* FONTS */

/* GENERAL */
html {
  height: 100%;
}
body { padding-top: 70px; padding-bottom: 70px;}

select {
  text-align: justify !important;
  margin-bottom: 15px;
  padding: 0 0 0 20px !important;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 18px !important;
  color: grey !important;
  border: solid 1px #517B97;
  outline: 0;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #D3D3D3), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #D3D3D3 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

button {
  background-color: #000 !important;
  font-size: 18px !important;
  margin: 5px 0 !important;
}

button:hover {
  background-color: #fff !important;
  border: 1px solid #000;
  color: #000 !important;
  font-weight: bold !important;
}

input {
  height: 30px !important;
  margin: 10px 0 !important;
}

input, textarea {
  text-align: center;
  font-size: 18px !important;
  color: #000 !important;
}

input[placeholder] {
  color: grey;
}

.row {
  margin: 0 0 15px 0!important;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* HEADER */
.navbar h3 {
  margin-bottom: 20px !important;
  color: #fff !important;
  font-size: 28px;
}

/* MAIN CONTENT */
#main-content {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

/* ADD NEW ENTRY FORM */

.filter select {
  padding: 0px 10px 0px 5px !important;
  font-weight: bold;
  color: #000 !important;
  border: 1px solid #000;
  font-size: 16px !important;
  height: 30px !important;
  display: block;
  width: 50% !important;
}

.filter {
  height: 30px !important;
}

#btn-filter {
  float: right;
  margin: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  height: 30px !important;
}

#new-entry-form {
  max-width: 400px;
  margin: 20px auto;
}

#entry-main-body {
  margin-bottom: 0 !important;
}

#entry-image-div {
	background-image:url('');
	background-size:cover;
	background-position: center;
	height: 200px; width: 90%;
	border: 1px solid none;
	border-radius: 5px;
  margin: 0 auto;
}

.image-container {
    position: relative;
    background: white;
    border-radius: 0 0 5px 5px;;
    float: left;
		width: 100%;
		color: #4e5050 !important;
		font-size: 18px !important;
}

.image-container [type=file] {
    display: block;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* ENTRY LIST */
#entry-list {
  max-width: 600px;
  margin: 0 auto;
}

#entry-list h3 {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

#entry-list span {
  font-size: 17px;
  font-weight: bold;
}

#entry-list p {
  font-size: 18px !important;
  text-align: justify;
}

.title-edit {
  margin-top: 20px !important;
  font-weight: bold;
  font-size: 22px !important;
}

.country-edit {
  height: 30px !important;
  border: 1px solid grey !important;
  border-radius: 5px !important;
}

.entry-main-image {
  max-width: 600px;
}

.entry-main-image img {
  width: 100%;
  border: 1px solid none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.btn-notes {
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  width: 30%;
}

.btn-delete-entry {
  float: right;
  padding-top: 0;
  padding-bottom: 0;
  width: 30%;
}

.btn-change-entry {
  padding-top: 0;
  padding-bottom: 0;
  width: 30%;
}

/* NOTEBOOK */

.notebook {
  max-width: 580px;
  margin: 15px auto;
}

.notebook input {
  text-align: left;
}

.note-input {
  text-align: left !important;
}

/*.note-image-preview-div {
  max-width: 580px;
} */

.note-image-preview-div img {
  width: 100%;
  border: 1px solid none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.entry-note-image img {
  width: 100%;
  border: 1px solid none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.add-new-note {
  max-width: 600px;
}

.add-new-note label {
  font-size: 16px !important;
}

.btn-add-note {
  padding-top: 0;
  padding-bottom: 0;
}

.entry-note-message {
  word-wrap: break-word;
  text-align: left;
  font-size: 16px !important;
}

.entry-note-message p {
  margin-top: 5px;
}

.entry-note-message h4 {
  font-weight: bold;
  margin-top: 0;
  font-size: 15px !important;
  display: inline-block;
}

.note-image-upload {
  padding: 0;
}

.btn-delete-note {
  float: right;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


/* FOOTER */
footer {
  text-align: center;
  color: #d3d3d3;
  height: 60px;
  background-color: #000;
}

.footer-paragraph {
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1em;
}
